.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .header__wrapper{
        display: flex;
        align-items: center;
        .header__title{
            h2{
                // background-color: var(--textSecondaryColor);
                // padding: 0px 5px;
                // border-radius: 5px;
                // color: #fff;
                color: var(--textSecondaryColor);
                font-weight: 800;
            }
        }
        i{
            font-size: var(--fontMedium);
            color: #000;
            cursor: pointer;
            display: none;
            @media screen and (max-width: 853px){
                display: block;
                margin-right: 10px;
            }
        }
        .nav__menu{
            display: flex;
            li{
                &:not(:last-child){
                 margin-right: 20px;
                }
                a{
                    text-decoration: none;
                    color: initial;
                    &:hover{
                        color: var(--primaryColor);
                    }
                }
                @media screen and (max-width: 853px){
                    margin-bottom: 20px;
                }
                
            }
            @media screen and (max-width: 853px){
                position: absolute;
                left: 0;
                top: 4rem;
                padding-top: 20px;
                flex-direction: column;
                width: 100%;
                z-index: 5;
                height: 40vh;
                background-color: #fff;
                border-bottom: 2px solid #ddd;
                display: none;
                

            }
        }
    }
    .header__social{
        display: flex;
        align-items: center;
        i{
            font-size: var(--fontMedium);
            color: var(--textSecondaryColor);
        }
    }
}