//colors
:root{
    --primaryColor: rgba(26,92,255);
    --textPrimaryColor: #404145;
    --textSecondaryColor: #2c3e50;
    --textParagraphHighlight: #7a7d85;
    --textWhiteColor: #fff;
}
//font size
:root{
    --fontSmall: .8rem;
    --fontNormal: 1.5rem;
    --fontMedium: 2rem;
}

//box shadow     box-shadow: 0 10px 20px -10px rgba(var(--vs-primary),.5);