html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: var(--textParagraphHighlight);
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #1a1818;
}

body::-webkit-scrollbar-thumb {
  background: #1a5cff;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: var(--textPrimaryColor);
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  outline: none;
}

.section__title {
  position: relative;
  padding-left: .5rem;
}

.section__title::before {
  content: "";
  display: block;
  height: 27px;
  background-color: #1a5cff;
  background-color: var(--primaryColor);
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-right: 100px;
}

:root {
  --primaryColor: rgba(26,92,255);
  --textPrimaryColor: #404145;
  --textSecondaryColor: #2c3e50;
  --textParagraphHighlight: #7a7d85;
  --textWhiteColor: #fff;
}

:root {
  --fontSmall: .8rem;
  --fontNormal: 1.5rem;
  --fontMedium: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__wrapper .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__wrapper .nav__menu li:not(:last-child) {
  margin-right: 20px;
}

.header .header__wrapper .nav__menu li a {
  text-decoration: none;
  color: initial;
}

.header .header__wrapper .nav__menu li a:hover {
  color: var(--primaryColor);
}

.header .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__social i {
  font-size: var(--fontMedium);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.helper__top {
  margin-top: 6rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero__bigheader {
  font-size: clamp(40px, 8vw, 80px);
  color: var(--textPrimaryColor);
  font-weight: 700;
}

.hero .hero__bigheader .hero__span {
  color: var(--textSecondaryColor);
}

.hero .hero__cta {
  margin-top: 20px;
  display: inline-block;
  font-size: .8rem;
  background: var(--PrimaryColor);
  color: white;
  padding: 15px 35px;
  border-radius: 17px;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-box-shadow: 0 10px 20px -10px var(--PrimaryColor, 0.5);
          box-shadow: 0 10px 20px -10px var(--PrimaryColor, 0.5);
}

.hero .hero__cta {
  margin-top: 3rem;
  padding: 0;
}

.hero .hero__cta h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.9rem, 3.5vw, 1.2rem);
  color: var(--primaryColor);
}

.hero .hero__cta h3 i {
  font-size: 2rem;
  margin-right: 10px;
}

.hero .hero__cta h3 a {
  text-decoration: underline;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.hero .hero__cta h3 a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--textSecondaryColor);
}

.project .project__wrapper {
  margin-top: 5rem;
}

.project .project__wrapper .project__container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}

.project .project__wrapper .project__container .project__image {
  max-width: 500px;
  height: 330px;
  margin-right: 50px;
}

.project .project__wrapper .project__container .project__image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 853px) {
  .project .project__wrapper .project__container .project__image {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.project .project__wrapper .project__container .project__description .project__techuse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.project .project__wrapper .project__container .project__description .project__techuse li {
  margin-right: 7px;
  background-color: var(--primaryColor);
  color: var(--textWhiteColor);
  padding: 2px 5px;
  border-radius: 5px;
}

.project .project__wrapper .project__container .project__description .project__btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 220px;
}

.project .project__wrapper .project__container .project__description .project__btn .btn_sitelink {
  background-color: var(--textSecondaryColor);
  color: var(--textWhiteColor);
  padding: 5px 10px;
  border-radius: 5px;
}

.project .project__wrapper .project__container .project__description .project__btn .btn_githubrepo {
  background-color: var(--textPrimaryColor);
  color: var(--textWhiteColor);
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 853px) {
  .project .project__wrapper .project__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.selected__project__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  gap: 4rem;
  color: var(--textParagraphHighlight);
}

@media screen and (max-width: 853px) {
  .selected__project__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.selected__project__wrapper .selected__project__container {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.selected__project__wrapper .selected__project__container:hover {
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.selected__project__wrapper .selected__project__container:hover h3 {
  color: var(--primaryColor);
}

.selected__project__wrapper .selected__project__container .selected__project__img {
  height: 250px;
}

.selected__project__wrapper .selected__project__container .selected__project__img img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
}

.selected__project__wrapper .selected__project__container .selected__project__desc {
  padding: 10px;
  margin-top: 20px;
}

.selected__project__wrapper .selected__project__container .selected__project__desc p {
  color: var(--textParagraphHighlight);
}

.more__Works__cta {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryColor);
}

.more__Works__cta h2 {
  text-decoration: underline;
  color: var(--primaryColor) !important;
}

.more__Works__cta i {
  font-size: 3rem;
}

.footer .footer__bottom {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-top: 2px solid #ddd;
  font-size: var(--fontSmall);
  color: var(--textSecondaryColor);
  font-weight: 600;
}

.footer__contact {
  margin-top: 7rem;
}

.footer__contact a {
  margin-top: 1rem;
  display: inline-block;
  font-size: .8rem;
  color: #fff !important;
  background: var(--primaryColor);
  padding: 13px 25px;
  border-radius: 17px;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-box-shadow: 0 10px 20px -10px var(--primaryColor);
          box-shadow: 0 10px 20px -10px var(--primaryColor);
}

.footer__contact a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=style.css.map */